/*
.wrapper {
	margin:0;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	background-color:#eaeaea;
	height:100%;
}*/

/*.icon {
	font-size:64px;
	color:#444;
}*/

h1 {
	text-align: center;
	margin-top:0;
	padding-top:20px;
	padding-bottom:10px;
	border-bottom:1px solid black;
	font-family: monospace;
}

table {
	width:100%;
}

caption {
	font-size:24px;
	border-bottom:1px solid #878787;
	padding-bottom:10px;
	margin-bottom:10px;

}

tr {
	text-align:center;
}

td {
	padding-bottom:10px;
}

a {
	text-decoration: none;
}

a:link {
	color:#333;
}

a:hover {
	color:#777;
}

a:visited {
	color:#444;
}

a:active {
	color:#ccc;
}

/* BLOCKS CSS */
html {
	height:100%;
}

body{
	position:absolute;
	top:0; left:0; right:0; bottom:0;
	margin:0;
}

.icon {
	font-size:64px;
}

.wrapper {
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	top:0;
	height:100%;
	text-align:  center;
}

.container {
	width:60%;
}

.block {
	background-color: #F7F7F7;
	margin:3px;
	padding:2px;
	position:static;
	width:200px;
	height:200px;
	margin-right:0px;
	display: inline-block;
}

.block > .icon {
	width:200px;
	height:200px;
	position:relative;
	text-align:center;
	vertical-align: middle;
	height:100%;
	line-height: 200px;
	display:block;
}


.icon > p, .stats {
	display:block;
	position:absolute;
	width:180px;
	bottom:0;
	margin:0;

	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;

	font-size:16px;
	font-family: monospace;
	text-align: center;
	line-height: 1em;
}

.stats {
	display:none;
	position:absolute;
	top:0;
	padding-top:10px;
}


a:hover > .stats{
	display:block;
}

.icon > p {
	max-width: 200px;
    word-wrap: break-word;
}

.icon-doc-text:before {

}

.icon-file-archive:before {

}

.icon-file-image:before {
	color: #B1A941;
}

.icon-file-pdf:before {
 	color: #AF3E24;
}

.icon-file-audio :before{

}

.icon-file-word:before {
	color: #6D98B7
}

.icon-file-powerpoint:before {
	color: #CE7D56;
}

.icon-file-excel:before {
	color:#65A565;
}

.icon-folder-empty:before {
	color:grey;

}